* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height: 100%;
}

body{
    height: 100%;
    overflow: hidden;

}

h1{
    margin: 0;
 }

#addNotey:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}

nav{
    z-index: 1000;
}

#notey-list{
    padding: 0;
    padding-left: 2%;
    padding-right: 2%;
}

#noteyItem{
    border: none;
    border-bottom: 1px solid #D7D7D7;
    margin-top: 1%;
}
#noteyItem:hover{
    cursor: pointer;
}

#noteyContent{
    color: #999999;
}

#dateHead{
    color: #999999;
}

.footerButtons:hover{
    color: white;
}

#listContainer{
    overflow:scroll;
    overflow-x:hidden;
    height: 85%;
}


#rightAngle{
    position: relative;
    opacity: 0.25;
    margin-bottom: 2%;
}


#addNotey{
    overflow: auto;
}

#add{
    overflow: auto;
}

.navbar-brand{
    margin-right: 1rem;
}

.navbar {
    background-color: #5282C8;
}

#errorDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 10% 0;
    min-height: 200px;
    align-items: center;
}
#createNotey{
    display: none;
    margin-top: 5%;
    position: relative;
    z-index: 1;
    background-color: white;
    margin: 0 auto;
    position: absolute;
    width: 100%;

}

#createHeader{
    width: 100%;
    margin: 0 auto;
    padding: 2%;
    min-width: 375px;
}

#createBody{
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    min-width: 375px;
    height: 100%;
}

.footer{
    left: 0px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #1092D4;
    text-align:center;
}

.blu {
    color: #1092D4;
}

#viewNotey{
    display: none;
    z-index: 2;
    background-color: white;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#viewHeader{
    width: 100%;
    margin: auto;
}

#viewBody{
    width: 100%;
    margin: auto;
    height: 80%;
}

#viewFooter{
    position: fixed;
    bottom: 0px;
    margin: auto;
    width: 100%;
    text-align: center;
}

#editNotey{
    display: none;
    z-index: 2;
    background-color: white;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#editHeader{
    width: 100%;
    margin: auto;
}

#editBody{
    width: 100%;
    margin: auto;
    height: 80%;
}

#editFooter{
    position: fixed;
    bottom: 0px;
    margin: auto;
    width: 100%;
    text-align: center;
}

#closeButton{
    width: 50px;
    height: 50px;
    margin-bottom: 6%;
}

.buttonCenter {
    right: 0px;
    left: 0px;
    font-weight: bold;
    background-color: unset;
    color: white;
    font-size: 1.7em;
    height: 57px;
}

.buttonLeft {
    float: left;
    background-color: unset;
    color: white;
    font-size: 1.8em;
}    

.textboxstyle {
    border: 0px;
    box-shadow: none;
}

.textboxstyle:enabled {
    border: 0px;
    box-shadow: none;
}

.buttonRight {
    float:right;
    background-color: unset;
    color: white;
    font-size: 1.8em;
}

.title{
    text-align: left;
}

#profile{
    right: 0;
    font-size: 1.8em;
}

#profile a{
    text-decoration: none;
    color:white;
}

#profile a:hover{
    color: whitesmoke;
}

#logout{
    width: 100%;
    margin-top: 45%;
}

#startWrapper{
    background-color: #5282C8;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

#startMenu{
    color: white;
    font-size: 50px;
    margin-left: auto;
}

#startNav{
    display: flex;
    width: 100%;
    background-color: 'rgba(0, 0, 0, 0)';
    height: 100px;
}

#logoStart{
    min-height: 100%;
}

#logoHeader {
    height: 58px;
    font-size: 2em;
}

#centerLogo{
    margin: auto;
    width: 50%;
    padding: 10px;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    margin-top: 5%;
    text-align:center
}

#slogan{
    margin: 0 auto;
    color: white;
    display: inline-block;
    margin-top: 80px;
    font-size: 106%;
    font-family: "Segoe UI";
    width: 200px;
    height: 61px; 
}

#slogan h6{
    font-size: 20px;
}

#btnLoginStart{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 50%;
    background-color: white;
    color: #174491;
    font-family: "Segoe UI";
    font-weight: 500;
    border-radius: 12px;
}

@media only screen and (max-width: 1400px){
    #slogan{
        margin-top: 40px;
    }

    #btnLoginStart{
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-top: 30%;
        background-color: white;
        color: #174491;
        font-family: "Segoe UI";
        font-weight: 500;
        border-radius: 12px;
    }

    #centerLogo{
        margin-top: 0;
    }
}

.mobile-indicator{
    display: none;
}

@media only screen and (max-width: 1000px){
    .mobile-indicator{
        display: block;
    }

    #listContainer{
        height: 80%;
    }
}

/* The Overlay (background) */
.overlay {

	top: 0;
    height: 100%;
    width: 0%;
	position: absolute;
	z-index: 2000;
	right: 0;
	background-color: rgb(0,0,102); /* Black fallback color */
    background-color: rgba(0,0,102, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
  }
  

#content{
    height: 100vh;
}
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px;
    height: 100%; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

  #divider{
      width: 75%;
      margin: 0 auto;
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .navLink {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }

  .navText {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }

.navLink,
.navLink:hover,
.navLink:focus,
.navLink:active {
  color: #fff;
  text-decoration: none;
}

.navText,
.navText:hover,
.navText:focus,
.navText:active {
  color: #fff;
  text-decoration: none;
}

.navWrapper{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.navLink::after {
    content: "";
    position: absolute;
  }
  .navWrapper .navLink::after {
    top: 100%;
    height: 2px;
    width: 0%;
    left: 5%;
    background-color: rgba(255, 255, 255, 0.6);
    transition: 0.3s ease all;
  }
  
  .navWrapper:hover .navLink::after {
    width: 90%;
    transition: 0.3s ease all;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 100px;
  }

  #logout{
    bottom: 0px;
    left: 0px;
    right: 0px;
}

  .layer {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1001;
}

#form-container{
    margin: auto;
    padding-top: 150px;
}

#btnLogin{
    border-radius: 5px;
    background-color: #5282C8;
    height: 3.5em;
}

#btnReg{
    border-radius: 5px;
    background-color: #5282C8;
    height: 3.5em;
}

    to{
        transform: translateX(0%); 
        visibility: hidden;
    }

#form-container input[type=text], [type=password]{
    border-radius: 0px;
    height: 4em; 
    border: none;
    border-bottom: 1px solid #E4E4E4;
}

#form-container input[type=text], [type=password]:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

#backButton{
    height: 100px;
    position: absolute;
    display: block;
    top: 0;
    margin-right: 2%;
    bottom: 99%;
}

#backAngle{
    margin-top: 5%;
    color: #999999;
    font-size: 300%;
}

#linkLogin{
    text-align: right;
}

#inputPassword{
    margin-bottom: 96px;
    padding: 10px;
}