#addNotey:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}

#addNotey{
    overflow: auto;
}

#add{
    overflow: auto;
}

.navbar-brand{
    margin-right: 1rem;
}

#errorDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 10% 0;
    min-height: 200px;
    align-items: center;
}

.noteyheader {
    height: max-content;
    width: 100%;
    text-align: left;
    background-color: skyblue;
    border-radius: 3px;
    color: black;
    padding: 10px;
}

.noteybox {
    height: 300px;
    background-color: skyblue;
    border: white 3px solid;
    margin-top: 10px;
}

.noteycontent {
    width: 100%;
    height: 90%;
    text-align: left;
    background-color: skyblue;
    border-radius: 3px;
    color: black;
    padding: 10px;
}

